<app-side-nav></app-side-nav>
<!-- <div>
  <mat-card>
    <div class="row">
      <a href="">
        <button mat-icon-button aria-label="Home">
          <mat-icon>home</mat-icon>
        </button>
      </a>
      <a href="cart">
        <button mat-icon-button aria-label="Cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </a>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <mat-select>
          <mat-option>
            <a href="">My Orders</a>
          </mat-option>
          <mat-option>
            <a href="">Manage Orders</a>
          </mat-option>
          <mat-option>
            <a href="">Manage Products</a>
          </mat-option>
          <mat-option>
            <a href="">Log Out</a>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card>
</div>
<router-outlet></router-outlet> -->