<div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
      <a href="" style="color: white;"><h1>Caleb's Shop</h1></a>
        <a href="">
            <button mat-icon-button aria-label="Home">
              <mat-icon style="color: white;">home</mat-icon>
            </button>
          </a>
          <a href="cart">
            <button mat-icon-button aria-label="Cart">
              <mat-icon style="color: white;">shopping_cart</mat-icon>
            </button>
          </a>
        <span class="spacer"></span>
        <a
           *ngIf="!user"
           style="color: white;">
          <button mat-button (click)="openLoginDialog()">Login</button>
        </a>
        <button *ngIf="user" mat-button (click)="snav.toggle()">
          <mat-icon>person</mat-icon>
          <mat-label *ngIf="isNotMobile()">{{ user?.displayName }}</mat-label>
        </button>
        <a (click)="logout()" 
           *ngIf="user"
           style="color: white;">
          <button mat-button>Logout</button>
        </a>
    </mat-toolbar>

    <mat-sidenav-container  class="sidenav-container"
                            [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav  position="end" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <a mat-list-item href="">My Orders</a>
            <a mat-list-item href="">Manage Orders</a>
            <a mat-list-item href="">Manage Products</a>
        </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>