<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <a href="" style="color: white;"><h1>Caleb's Shop</h1></a>
      <a href="">
          <button mat-button mat-icon-button aria-label="Home">
            <mat-icon style="color: white;">home</mat-icon>
          </button>
        </a>
        <a href="cart">
          <button mat-button mat-icon-button aria-label="Cart">
            <mat-icon style="color: white;">shopping_cart</mat-icon>
          </button>
        </a>
      <span class="spacer"></span>
      
      <a *ngIf="!(appUser)"
          style="color: white;">
        <button mat-button (click)="openLoginDialog()">Login</button>
      </a>
      <button *ngIf="appUser"
              mat-button
              [class.mat-icon-button]="mobileQuery.matches"
              [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
        <mat-label>{{ appUser.name }}</mat-label>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-list-item href="my/orders" style="color: white;">My Orders</a>
        <ng-container *ngIf="appUser?.isAdmin">
          <a mat-list-item href="admin/orders" style="color: white;">Manage Orders</a>
          <a mat-list-item href="admin/products" style="color: white;">Manage Products</a>
        </ng-container>
        <a href="" (click)="logout()" *ngIf="appUser" style="color: white;">Logout</a>
      </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>